<!DOCTYPE html>
<html lang="zh" style="height:100%;">
    <head>
        <meta charset="utf-8">
        <title>编辑器</title>
        <% if (htmlWebpackPlugin.options.nodeModules) { %>
            <script>
                require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
            </script>
        <% } %>
    </head>
    <body style="height:100%;overflow: hidden;">
        <!-- page start -->
        <section style="height:100%;overflow: hidden;" id="mountRoot">
            <app style="height:100%;"></app>
        </section>
        <!-- page end -->
    </body>
</html>

